<h1>Editing Item</h1>

<%= form_for @item, :url => dashboard_admin_item_path, method: :patch  do |f| %>
  名稱： <%= f.text_field :name %><br>
  價格： <%= f.number_field :price %><br>
  圖片： <%= f.file_field :cover %><br>
  類別： <%= f.select :cate_id, Cate.all.map{|c|[c.name, c.id]} %>

  <button type="submit" >送出</button>
<% end %>
